* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f4454;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 85px 1fr 85px;
    grid-template-columns: 25% 1fr;
    grid-template-areas: "sidebar maze-container" "sidebar maze-container" "sidebar maze-container";
}

#sidebar {
    padding-top: 100px;
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f8f8f8;
}

#algos {
    grid-area: algos;
}

#maze-container {
    grid-area: maze-container;
    display: flex;
    justify-content: center;
}

#maze {
    display: grid;
    align-items: center;
    width: 100%;
}

table {
    table-layout: auto;
    width: 100%;
    background-color: #2f4454;
}

td {
    border: thin solid #407172;
    position: relative;
}

.button {
    background-color: #f8f8f8;
    border: solid 1px #3f6e6f;
    color: #3f6e6f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.solution {}

.sol_div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: white;
    transition-duration: 0ms;
    transition-property: background-color, opacity;
}

.sol_div.anim {
    background-color: #407172;
    opacity: 1;
}

.active_node {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: none;
    transition-duration: 0ms;
    transition-property: background-color;
}

.active_node.anim {
    background-color: #99a285;
}


/* .neighbour_div {
    position: absolute;
    height: 2%;
    width: 2%;
    background-color: azure;
    left: 0;
    top: 0;
    transition-duration: 250ms;
    transition-property: width, height;
}

.neighbour_div.scale {
    width: 100%;
    height: 100%;
} */