* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f4454;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 85px 1fr 85px;
    grid-template-columns: 25% 1fr;
    grid-template-areas: "sidebar maze-container" "sidebar maze-container" "sidebar maze-container";
}

#sidebar {
    padding-top: 100px;
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f8f8f8;
}

#algos {
    grid-area: algos;
}

#maze-container {
    grid-area: maze-container;
    display: flex;
    justify-content: center;
}

#maze {
    display: grid;
    align-items: center;
    width: 100%;
}

table {
    table-layout: auto;
    width: 100%;
    background-color: #2f4454;
}

td {
    border: thin solid #376e6f;
}

.button {
    background-color: #f8f8f8;
    border: solid 1px #3f6e6f;
    color: #3f6e6f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}