<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <div id="sidebar">
            <button id="BFS" class="button">BFS</button>
            <button id="DFS" class="button">DFS</button>
        </div>
        <div id="algos">

        </div>
        <div id="maze-container">
            <div id="maze">

            </div>
        </div>
    </div>

    {% block scripts %} {% endblock %}
</body>

</html>